{% set serviceName = "Study help account" %}

{% extends "layouts/main.html" %}


{% block pageTitle %}
  {% if data['errors'] %}Error: {% endif %}{{pageTitle}}  –  {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/" + folder + "/index",
  serviceName:  serviceName,
  serviceUrl: "/" + folder + "/" + subfolder + "/index",
  navigation: [
    {
      href:  "/" + folder + "/" + subfolder + "/index",
      text: "Home",
      active: true
    },
    {
      href: "#",
      text: "Settings"
    },
    {
      href: "/" + folder + "/start",
      text: "Sign out"
    }
  ]
}) }}

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a not a real service – it is just for user research.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% block account %}

Account content

{% endblock %}


    </div>
  </div>

{% endblock %}

{% block footer %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "/base/apply/cookies",
        text: "Cookies"
      },
      {
        href: "/manage-prototype",
        text: "Manage prototype"
      },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      },
      {
        href: "https://design-system.service.gov.uk/",
        text: "GOV.UK Design System (opens in new tab)",
        attributes: {
          "target" : "_blank"
        }
      }
    ]
  }
}) }}

{% endblock %}
