{% set pageTitle = "Account home" %}
{% extends "/"  + folder +  "/" + subfolder + "/_BASE.html" %}

{% block account %}




{% set html %}



  <p class="govuk-notification-banner__heading">
    You need to upload examples of your writing.
    <a class="govuk-notification-banner__link" href="tasks">Go to your application</a> to upload them.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

{{ pageTitle | headingH1 | safe  }}


  <p class="govuk-body">
You have <a class="govuk-link" href="#">1 application</a>.


  </p>

{% endblock %}
