//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

.bad .govuk-width-container {
  border-bottom-color:#d4351c
}


.govuk-list.bad  a:focus {
  background-color: #fff;
  box-shadow: 0 -2px #fff, 0 4px #fff;
}
