{% set pageTitle = "Your details" %}
{% set nextPage = "2" %}
{% extends "/"  + folder +  "/" + subfolder + "/_BASE.html" %}

{% block form %}



{{ pageTitle | headingH1 | safe  }}


    {{ govukInput({
    label: {
      text: "Full name"
    },
    id: "full-name",
    name: "fullName",
    value: data['fullName']
  }) }}


    {{ govukInput({
    label: {
      text: "Email address"
    },
    id: "email-address",
    name: "email",
    value: data['email']
  }) }}


  {{ govukDateInput({
    id: "date-of-birth",
    namePrefix: "date-of-birth",
    values: data["date-of-birth"],
    fieldset: {
      legend: {
        text: "Date of birth"
      }
    },
    hint: {
      text: "For example, 27 3 2007"
    }
  }) }}






{% endblock %}
