{% set pageTitle = "Tell us about your study" %}
{% set nextPage = "3-router" %}
{% extends "/"  + folder +  "/" + subfolder + "/_BASE.html" %}

{% block form %}

{% if data['errors'] and not data['moreDetail'] %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Give detail",
      href: "#moreDetail"
    }
  ]
}) }}

{% endif %}


{{ govukCharacterCount({
  name: "moreDetail",
  id: "more-detail",
  maxlength: 200,
  label: {
    text: pageTitle,
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Do not include personal or financial information like your National Insurance number or credit card details."
  },
  errorMessage: {
    text: "Give detail"
  } if (data['errors'] and not data['moreDetail'])
}) }}



{% endblock %}
