{% set pageTitle = "Do you want to upload a document now?" %}
{% set nextPage = "5" %}
{% extends "/"  + folder +  "/" + subfolder + "/_BASE.html" %}

{% block form %}




        {{ govukRadios({
          name: "upload",
          value: data['upload'],
          fieldset: {
            legend: {
              text: pageTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No, upload later",
              text: "No, upload later"
            }
          ]
        }) }}




{% endblock %}
