{% set pageTitle = "Do you want to upload a document now?" %}
{% set nextPage = "4-router" %}
{% extends "/"  + folder +  "/" + subfolder + "/_BASE.html" %}

{% block form %}


{% if data['errors'] and not data['upload'] %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Choose an option",
      href: "#upload"
    }
  ]
}) }}

{% endif %}


        {{ govukRadios({
          name: "upload",
          value: data['upload'],
          fieldset: {
            legend: {
              text: pageTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: "Choose an option"
          } if ( data['errors'] and not data['upload']),
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No, upload later",
              text: "No, upload later"
            }
          ]
        }) }}




{% endblock %}
