{% set pageTitle = "Uploading documents to prove your identity" %}
{% set nextPage = "4-router" %}
{% extends "/"  + folder +  "/" + subfolder + "/_BASE.html" %}

{% block form %}


{% if data['errors'] and not data['upload'] %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Choose an option",
      href: "#upload"
    }
  ]
}) }}

{% endif %}


{{ pageTitle | headingH1 | safe  }}

<p>You need to confirm your identity before we can process your application. To do this you need to upoad a copy of your passport or birth certificate.</p>

<p>If you do not have this now you can upload it later in your account.</p>



<p>If you do not have a passport or birth certificate you can <a class="govuk-link" href="/{{folder}}/accordion" target="_blank" >check other ways to confirm your identity (opens in new tab)</a>.</p>



        {{ govukRadios({
          name: "upload",
          value: data['upload'],
          fieldset: {
            legend: {
              text: "Do you want to upload a document to prove your identity now?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: {
            text: "Choose an option"
          } if ( data['errors'] and not data['upload']),
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No, upload later",
              text: "No, upload later"
            }
          ]
        }) }}




{% endblock %}
