{% extends "layouts/main.html" %}

{% block pageTitle %}
  Extra details about the scheme – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

<p>Extra details about the <a href="start">get help to study scheme</a>.</p>

      {{ govukAccordion({
        id: "accordion-default",
        items: [
          {
            heading: {
              text: "What types of study you can get help for"
            },
            content: {
              html: '<p class="govuk-body">You can get help for any study that is recognised by the Office for Students.</p>'
            }
          },
          {
            heading: {
              text: "Giving proof of identity"
            },
            content: {
              html: '<p class="govuk-body">Normally you will need to give a copy of your passport or birth certificate. If you cannot do this then you can get a recognised person to vouch for your identity.</p>'
            }
          },
          {
            heading: {
              text: "Types of help you can get for study"
            },
            content: {
              html: '<p class="govuk-body">You can get a range of help ranging from funds for books to software to help do your study.</p>'
            }
          },
          {
            heading: {
              text: "Application processing times"
            },
            content: {
              html: '<p class="govuk-body">Normally applications are processed in 2 weeks. This can be longer if you do not have a standard proof of identity or our course is new.</p>'
            }
          }
        ]
      }) }}


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">

                Study information
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
